.App {
  background-image: linear-gradient(pink,teal);
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.footer{
  margin-top: 41%;
}

.jumbo{
  background-image: repeating-linear-gradient(turquoise, pink);
}

.text-input {
  background-image: linear-gradient(mediumslateblue,turquoise );
}

.table {
  background-image: linear-gradient(pink, mediumslateblue);
}

.header {
  background-image: linear-gradient(coral, pink);
  height: 100px;
  margin-bottom:  15px;
  font-size: 30px;
  justify-content: center;
  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
